.navbar{
    background-color: limegreen;
     color: white;
}

.navbar-link{
    margin-right: 1cm;
 }

a.navbar-brand{
    color:white; text-decoration: none; font-weight: bold;
}
a.nav-link{
    color:white; text-decoration: none; font-weight: bold;
}

button.btn.btn-outline-success.my-2.my-sm-0{
    background: white;
    color: limegreen;
    opacity: 0.2;
    transition: ease-in-out 500ms;

}

button.btn.btn-outline-success.my-2.my-sm-0:hover{
    background: white;
    color: black;
    opacity: 1;

}
button.btn.btn-light{
    opacity: 0.2;
    transition: ease-in-out 500ms;

}
button.btn.btn-light:hover{
    background: white;
    color: black;
    opacity: 1;

}

.pharma{
    color: black;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: limegreen;

}
/* }
body{
    margin: 0;
    padding: 0;
    color: greenyellow;
    background-image: url("../images/20210731_135043.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.list-group a{
    color: black;
    
} */

/* .card{
    color: black;
    background-color:  rgb(13, 196, 74);
} */

.btn-outline-success:hover {
    background-color: limegreen;
    color: black;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.col-md-3 {
    margin-bottom: 20px;

}
.form-inline{
    flex-flow: unset;
    width: 50%;
}

   